    @font-face{
        font-family: 'Cronos Pro Display';
        font-style: normal;
        font-weight: normal;
        src: local('Cronos Pro Display'), url('Cronos-Pro-Display_12439.woff') format('woff');
    }
    body{
        font-family: 'Cronos Pro Display';
        color:#1b2a65;
        overflow-x: hidden;
        background-image: url("../image/background1.png") ;         
        background-size: cover; 
        background-repeat: inherit;
        background-position: center center;
    }
    .home_text1{
        font-size: 17px;
    }
    .home_text2{
        font-size: 30px;
    }
    .home_text3{
        font-size: 16px;
    }
    .text3{
        font-size: 22px;
    }
    .card1{
        height: 34px;
        width: 34px;
        margin-bottom: 10px;
        background-image: url(../image/cream1.png);
        background-size: cover;
    }
    .card2{
        height: 50px;
        width: 50px;
        margin-bottom: 10px;
        background-image: url(../image/cream2.png);
        background-size: cover;
    }
    .card3{
        height: 64px;
        width: 64px;
        background-image: url(../image/cream3.png);
        background-size: cover;
    }
    .first_page{
        background-image: url("../image/background.png") ;         
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;
    }
    .wave_div{
        /* position: absolute; */
        /* bottom: 0; */
        /* height: 200px; */
        /* left: 0; */
        width: 100%;
        /* margin-top: -300px; */
    }
    .wave_img{
        margin-top: -110px;
        width: 100vw;
        max-height: 300px;      
        z-index: 20;  
        height: 250px;
    }
    .index_div{
        display: flex;
        height: 100vh;
        /* overflow: hidden; */
    }
    .group_mobile_div{
        display: none;
    }
    .mark1{
        height: 34px;
        width: 34px;
        position: absolute;
        top: 163px;
        right: 100px;
        z-index: 999;
    }
    .mark2{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 136px;
        right: 173px;
        z-index: 999;
    } 
    .mark3{
        height: 64px;
        width: 64px;
        position: absolute;
        right: 128px;
        top: 290px;
        z-index: 999;
    }
    .bg_image{
        background-image: url("../image/mark_1.png") ; 
        background-size: cover;
    }
    .select_image{
        background-image: url("../image/mark_2.png") ; 
        background-size: cover;
    }
    .drop_image1{
        background-image: url("../image/cream_done1.png") ; 
        background-size: cover;
    }
    .drop_image2{
        background-image: url("../image/cream_done2.png") ; 
        background-size: cover;
    }
    .drop_image3{
        background-image: url("../image/cream_done3.png") ; 
        background-size: cover;
    }
    .fit_content {
        width: fit-content;
        height: fit-content;
        position: relative;
        margin: auto;

    }
    .text_div{
        display: flex;
        justify-content: center;
    }
    .mark4{
        height: 50px;
        width: 50px;
        position: absolute;
        top: 24%;
        right: 34%;
    } 
    .first_text1{
        font-size: 19px;    
    }
    .draggable{
        filter: alpha(opacity=100);
        opacity: 1;
    }
    .dropped{
        position: static !important;
    }
    .index5_text1{
        font-size: 20px;
    }
    .index5_text2{
        font-size: 17px;
    }
    .pop_fist_line{
        font-size:22px;
        color: #003AA5;
    }
    .pop_text{
        margin-top: 120px;
        margin-left:50px;
    }
    .mula_button{
        padding: 10px 60px;
        font-size: 19px;
    }
    .btn-main{
        background: #0078BF;
        border: 0.12px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 3.6px;
        padding: 0px 30px;
        width: 187px;
        height: 39px;
        color: white;

    }
    p{
        letter-spacing: 0.5px;
    }
    .formqv{
        background: linear-gradient(180deg, #EAF6FE 17.47%, #FFFFFF 106.87%);
        padding: 60px 60px 30px 60px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
        border-radius: 24px;            
    }

    .formqv_video{
        background-image: url('../image/BG_video.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        min-height: 300px;
    }
    .form-control{
        background-color: #fff;
    }
    .form-video{
        display: none;
    }
    .pop_section{
        background-image: url(../image/BG_pattern.png);
        background-size:contain; 
        background-repeat: no-repeat;
    }
    .video_first_line{
        color: #293D8A;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .video_second_line{
        font-size: 30px;
        color: #003AA5;
        line-height: 36px;
    }
    .video_play{
        height: 340px;   
        width : 650px;     
    }
    .clipboard {
        position: relative;
    }
    .copy-input {
        max-width: 300px;
        width: 100%;
        cursor: pointer;
        color: #6c6c6c;
        font-size: 14px;
        padding: 15px 45px 15px 15px;
        font-family: 'Montserrat', sans-serif;
        box-shadow: 0 3px 15px #b8c6db;
        -moz-box-shadow: 0 3px 15px #b8c6db;
        -webkit-box-shadow: 0 3px 15px #b8c6db;
        background: rgba(172, 207, 239, 0.1);
        border: 0.48px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 12.72px;
    }
    .copy-btn {
        width: 40px;
        background-color: #eaeaeb;
        font-size: 18px;
        padding: 6px 9px;
        border-radius: 5px;
        border: none;
        color: #6c6c6c;
        margin-left: -50px;
        transition: all .4s;
    }
    .copy-btn:hover {
        transform: scale(1.3);
        color: #1a1a1a;
        cursor: pointer;
    }
    .qvclass {
        display: flex;
        background: #FAFDFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
        border-radius: 24px 24px 0px 0px;
        padding: 30px;
    }
    .platform_first_line{
        font-size:17px;
        color:#293D8A;
    }
    .platform_second_line{
        font-size:30px;
        color:#293D8A;
    }
    .mobile_icon{
        width: 40px;
    }
    .girl_div{
        z-index: 12;
    }
    .girl_image{
        z-index: -1;
    }
    
@media only screen and (max-width: 768px) {
    .index_div{
        display: none;
    }
    .wave_div{
        display: none;
    }
    .first_text1 {
        font-size: 17px;
    }
    .home_text1{
        font-size: 14px;
    }
    .text_div{
        padding:40px 50px;
    }
    .home_text2{
        font-size: 24px;
        margin-top: 5px;
    }
    .home_text3_1{
        font-size: 24px;
        margin-top: 5px;
    }
    .home_text3_2{
        font-size: 18px;
        margin-top: 5px;
    }
    .group_div{
        display: none;
    }
    .group_mobile_div{
        display: block;
    }
    .wave_img{
        margin-top: -55px;  
        max-height: 200px;   
        z-index: 20;   
    }
     .girl_image{
        width:90%;
        height: 90%;
    }
    .mark4{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 25%;
        right: 42%;
    }
    .card1{
        width: 26px;
        height: 26px;
    }
    .card2{
        width: 35px;
        height: 35px;
    }
    .card3{
        width: 48px;
        height: 48px;
    }
    .box_image{
        width: 300px;
    }
    .form_text2{
        font-size: 10px;
    }
    .formqv{
        padding: 50px 30px;
    }
    .pop_section{
        background-image: url(../image/pattern_mobile.png);
        background-size:contain; 
        background-repeat: no-repeat;
    }
    .formqv_video{
        background-position: bottom;
        height: 350px;
    }
    .video_play{
        height: 200px;
        width : 300px;     

    }
    .mark1{
        height: 27px;
        width: 27px;
        position: absolute;
        top: 32%;
        right: 29%;
    }
    .mark2{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 25%;
        right: 44%;
    } 
    .mark3{
        height: 50px;
        width: 50px;
        position: absolute;
        right: 35%;
        top: 52%;
    }
    .platform_image{
        width: 350px;;
    }
    .qvclass {
        display: block;
        padding: 16px;
        text-align: center;
    }
    .platform_first_line{
       margin-top: 150px;
       font-size:18px;
       padding: 0px 25px;
       letter-spacing: 0.1px;
    }
    .mobile_image{
        width: 50%;
    }
    .video_first_line{
        text-align: center;
        font-size: 20px;
    }
    .video_second_line{
        font-size: 31px;
        text-align: center;
    }
    .video_text1{
        margin-top: 20px;
        font-size: 12px;
    }
    .video_text2{
        font-size: 12px;
    }
    .video_box_div{
        margin-bottom: -30px;
        z-index: -1;
    }
    .vector_icon{
        display: none;
    }
    .platform_second_line{
        font-size: 24px;
    }
    .platform_text3{
        font-size: 12px;
    }
    .copy-input{
        font-size: 11px;
        padding: 9px 45px 7px 5px;
        width: 70%;
    }
 
    .margin_top{
        color: #293D8A;
        margin-top:100px;
    }
    .pop_fist_line {
        font-size: 20px;
    }
    body{
        background-image: url("../image/background1(2).png") ;         
    }

}

@media only screen and (min-width: 1024px) {
    .girl_image{
        width:600px;
    }
    .wave_img{
        height: 250px;
    }
}